/**
 * Common
 */

html,body {
  background-color: #eee;
  width:100%;
}

a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #333;
}

#header {
  width: 100%;
  height: 6em;
  padding-bottom: 4em;
}


#header,
.site {
  background-color: #fff;
}

#header .rodman {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
}

#footer {
  background-color: #eee;
  min-height: 8em;
}

#footer p.follow {
  font-size: 1.571em;
  line-height: 1.273em;
  font-weight: 300;
  float: right;
}

/**
 * Home
 */

.front #home,
#footer .follow {
  padding-left: 3em;
  padding-right: 3em;
}

.front .site {
  padding-top: 4em;
  padding-bottom: 8em;
}

.front #footer {
  padding-top: 4em;
}

.front h1,
#footer p.follow a {
  font-family: "Vollkorn", "Hoefler Text", Times, "Times New Roman", serif;
}

.front h1 {
  color: #111;
  font-weight: 300;
  font-size: 4em;
  line-height: 1.143;
}

.front p.about {
 color: #555;
 font-size: 2em;
 line-height: 1.214em;
 font-weight: 300;
 width: 33.571em;
}
