<!DOCTYPE html>
<html>
<head>
   <meta charset='UTF-8'/> 
   <title>{{ page.title }}</title>
   <meta name="author" content="Shawn Price" />
   <meta name="keywords" content="shawn price, sprice, shawnprice, spriceless, langworthy" />
   <meta name="description" content="Shawn Price creates happy websites. Participating in open source communities, Shawn enjoys work and play in Vancouver, Cascadia." />
   <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

   <!-- Styles -->
   <link rel="stylesheet" href="/css/reset.css" />
   <link rel="stylesheet" href="/css/screen.css" media="screen, projection" />
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Vollkorn" />

   <!-- OpenID -->
   <link rel="openid.server" href="http://www.myopenid.com/server" />
   <link rel="openid.delegate" href="http://sprice.myopenid.com/" />
   <meta http-equiv="X-XRDS-Location" content="http://sprice.myopenid.com/xrds" />
</head>
<body class="{{ page.body }}">

  <div id="header">
    <div class="rodman">
      <img src="/images/rodman_m_price.png" alt="Rodman M. Price" title="Rodman M. Price" width="92" height="100" />
    </div>
  </div>

  <div class="site">

{{ content }}

  </div>

  <div id="footer">
    <div class="contact">
      <p class="follow">Follow Shawn on <a href="http://twitter.com/sprice" title="Follow Shawn on twitter">twitter</a>.</p>
    </div>
  </div>

<a href="http://github.com/sprice"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" /></a>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12752188-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
